html,
body{
    height: 100vh;
    width: 100%;
    margin: 0px;
    font-size: 62.5%;
    max-width: 100%;
    overflow-x:hidden;  /* hide the horizontal overflow */
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #E3D0CC;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.stay,
.tuned {
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
    font-size: 10rem;
    color: #EBE0DE;
    height: 110px;
    display: flex;
    align-items: center;
}
.dinamic_letters{
    position: absolute;
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    width: 548px;
    max-width: 100%;
}
.coming,
.soon {
    display: flex;
    align-items: center;
    max-width: 100vw;
}
.soon{
    margin-left: 31px;
}
.coming svg,
.soon svg {
    margin-left: -5px;
}

@media (max-width: 600px) {
    .dinamic_letters {
        top: 243px;
    }
    .soon{
        margin-left: 0px;
        margin-top: -40px;
    }
    .stay,
    .tuned {
    height: 151px;
    }
  }